html, body {
  height: 100%;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sidebar {
  position: fixed;
  height: 100%;
  z-index: 999;
}

main {
  position: relative;
  height: 100%;
  overflow: auto;
}

.results-title {
  font-weight: bold;
  font-size: 1.1em;
}

.fa-times,
.fa-check {
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 575px) {
  .App-header {
    position: static;
    height: auto;
  }

  main {
    padding-top: 76px !important;
  }
}